.icon{
    background: transparent;
    margin-right: 52%;
}
body{
    background-color: white;
}
.links{
    text-underline-offset: none;
    text-align: center;
    margin-left: 0;
 padding-left: 2%;
 padding-right: 0%;
 font-size: small;
 margin-top: 3%;
    
    

}
.name{
    text-align: center;
}
.link{
    margin-right: 8px;
    margin-left:8px ;
    text-decoration: none;
    color: rgb(94, 93, 93);
}
.link1{
    margin-right: 8px;
    margin-left:8px ;
    text-decoration: none;
    color: red;
}
.link:hover{
    color: black;
}
.link1:hover{
    color: black;
}
.link a{
    margin-left: 50%;
}
.image{
    padding: 700px;
    transform: scale(0.7);
    left: 10%;
    margin-top: -10%;
    background-image: url(dp.jpeg);
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 0;
    font-size: small;
    color: rgb(237, 226, 226);
    background-color: rgb(38, 32, 32);
}
.rights{
    padding-left: 15%;
    padding-right: 50%;
}
.socials{
    margin-left: 10px;
    color: white;
}