body {
    font-family: sans-serif;
    background-color: #ae00ff;
   background-image: url(bg2.jpg);
    
    
}
.link1{
    margin-right: -90%;
}
.imageanime{
padding-left: 0%;
padding-left: 0%;
padding-top: 20%;
padding-bottom: 20%;
margin: 20PX;
background-image: url(catalogimg.jpg);
justify-content: center;
animation: change 30s infinite;
}
/* * {
    box-sizing: border-box;
} */


h1 {
    color: white;
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 44%;
    width: 0;
    height: 100%;
    color: black;
    border-right: 2px solid black;
    overflow: hidden;
    animation: animate 4s linear infinite;
}
.heading svg{
    color: black;
}
@keyframes animate{
    0%{
width: 0;
    }
    50%{
        width: 16%;
    }
}
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#charactersList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.character {
    list-style-type: none;
    background-color:white;
    border-radius: 3px;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'stars'
        'thumbnail'
        'title'
        'description'
        'price'
        'btn';
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    position: relative;
}
.stars{
    grid-area: stars;
    margin-left: -60%;
    
}

.btn{
    position: absolute;
    grid-area: btn;
    left:37%;
    bottom: 5%;
    max-width: 200px;
    max-height: 20px;
    
}
.btn:hover{
   background-color: rgb(63, 117, 242);
  
}

.character > h2 {
    grid-area: title;
    margin-bottom: 20px;
    margin-left: 0%;
}

.character > p {
    grid-area: description;
    margin: 0;
    text-decoration-color: rgb(133, 129, 129);
     margin-top: -18px;
    margin-left: 2%;
}
.character > h3{
    grid-area: price;
    margin-left: 0%;
    bottom:20%;
}

.character > img {
    margin-left: 3%;
    max-height: 300px;
    max-width: 300px;
    grid-area: thumbnail;
    
}
.imge{
    transition:0.25s;
}
.imge:hover{
    transform: scale(1.2);
}
.character:hover{
    position: relative;
    margin-bottom: 2px;
    margin-left: 2px;
}
.character > img :hover{
    transform: scale(1.2);
}

#searchBar {
    width: 95%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 25px;
}
 @keyframes change
 {
     0%
     {
         background-image: url(1.jpg);
     }
     20%
     {
        background-image: url(2.jpg);
     }
     20%
     {
         background-image: url(3.jpg);
     }
     30%{
        background-image: url(4.jpg);
     }
     40%
     {
         background-image: url(5.jpg);
     }
     50%{
        background-image: url(6.jpg);
     }
     60%
     {
         background-image: url(7.jpg);
     }
     70%{
        background-image: url(8.jpg);
     }
     80%
     {
         background-image: url(9.jpg);
     }
     90%{
        background-image: url(10.png);
     }
     
     100%{
        background-image: url(11.png);
     }

 }
 .innerfooter{
     margin: 0;
     padding: 0;
     background-color: #d53030;
     text-align: center;
     

 }
 .social{
     display: flex;
 }
 .social div{
     display: flex;
    width: 180px;
    height: 30px;
    margin: auto;
    padding: 10px;
 }
 
.social a{
    padding:10px 20px;
    font-size: 0px;
    color: aqua;
    transition: all 0.25s;
    

}
.social a:hover{
   color: #eaeaea;
}
.link{
   display: flex;
    width: 560px;
    height: 70px;
    margin:auto;
}
.links div{
    padding: 10px;
    
    
}
.lnk{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18px;
    color: beige;
}
.lnk:hover{
    color: chartreuse;
}
.outerfooter{
    padding:15px;
    text-align: center;
    color: #eaeaea;
    font-size: 18px;
    background-color: #ec0f0f;
}
footer{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}
